<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

</body>

<script>
   var json = {
        username:'xiaoming',
        age:18,
        pasword:123456
   }
   let map = new Map();
   map.set('username','xiaoming');
   map.set('age',18)
   map.set('password',123456);
   console.log([...map.values()])
</script>
</html>